.single_date {
    font-family: ff1;
    line-height: 0.7545;
    font-style: normal;
    font-weight: normal;
    visibility: visible;

    font-size: 32px;
    color: rgb(0, 88, 216);
    letter-spacing: 0px;
}

.current_date::after {
    position: absolute;
    content: attr(data-label);
    color: white;
    background: rgb(0, 88, 216);
    padding: 10px;
    top: -10px;
    left: -10px;
    z-index: 2;
}

.dis-c {
    display: contents;
}

body {
    background-color: #f2f2e2;
}

.new-year-coming {
    font-family: ff1;

    position: absolute;
    color: white;
    background: rgb(0, 88, 216);
    padding: 12px;
    z-index: 2;
}
